
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}
ul {
    list-style-position: inside;
}
ol {
    list-style-position: inside;
}

h1 {
    color:#630606;
}

h2 {
    color:#E83A14;
}
h4 {
    color: #D9CE3F;
}

b {
    color:#D9CE3F;
}